PORT=3000
IBKR_CLIENT_ID=YOUR_REGISTERED_CLIENT_ID
IBKR_CLIENT_KEY_ID=YOUR_REGISTERED_KEY_ID
IBKR_OAUTH_BASE_URL=https://YOUR_IBKR_OAUTH_HOST
IBKR_SCOPE=sso-sessions.write
IBKR_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT\n-----END PRIVATE KEY-----"
IBKR_PRIVATE_KEY_PATH=./privatekey.pem
IBKR_GATEWAY_BASE_URL=https://YOUR_IBKR_GATEWAY_HOST
IBKR_CLIENT_IP=YOUR_BACKEND_PUBLIC_IP
IBKR_CREDENTIAL=YOUR_IBKR_USERNAME